In [1]:
# introduction to Data Frames:

Dataframes : it is capable of handling the 2-dimensional data

In [2]:
import numpy as np
import pandas as pd

In [ ]:
A Dataframe can be created by using the following:
    List
    Dict
    series
    numpy and the arrays
    Another Dataframes

In [ ]:
creating a empty Dataframe

In [3]:
df =pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
creating a Dataframe from the list

In [4]:
data = [1,2,3,4,5]

df = pd.DataFrame(data)

print(df)  # y it is giving Zero

   0
0  1
1  2
2  3
3  4
4  5

In [8]:
data =[['chandana',10],['chrissy',9],['yuvaanshi',8],['scarlett',0]]

df = pd.DataFrame(data, columns=['Bank_Customers','Bank_Balance in Dollor(000)'])

print(df)

  Bank_Customers  Bank_Balance in Dollor(000)
0       chandana                           10
1        chrissy                            9
2      yuvaanshi                            8
3       scarlett                            0

In [10]:
data =[['chandana',10],['chrissy',9],['yuvaanshi',8],['scarlett',0]]

df = pd.DataFrame(data, columns=['Name','Marks'],dtype=float)

print(df)

        Name  Marks
0   chandana   10.0
1    chrissy    9.0
2  yuvaanshi    8.0
3   scarlett    0.0

In [11]:
data =[['chandana',10],['chrissy',9],['yuvaanshi',8],['scarlett',0]]

df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'], columns=['Name','Marks'],dtype=float)

print(df)

            Name  Marks
rank1   chandana   10.0
rank2    chrissy    9.0
rank3  yuvaanshi    8.0
rank4   scarlett    0.0

In [ ]:
Creating a DataFrame using Dictionary

In [13]:
data = {'name':['chandana','yuvaanshi','scarlett','vincy'],'age':['10','20','30','40']}

df = pd.DataFrame(data)

print(df)

        name age
0   chandana  10
1  yuvaanshi  20
2   scarlett  30
3      vincy  40